body {background-color:#F7FBFF}
.selmenu  { font-family: Arial, Helvetica, sans-serif; size:12px; color:#000000; background-color:#E7F3FF; padding-left:18px; padding-right:18px; padding-top:8px; padding-bottom:8px; border-right: 1px solid #5A6131}
.menu    { background-image:url(../images/menubg.gif); background-repeat: repeat-x; padding-left:18px; padding-top:8px; padding-bottom:8px; border-left: 1px solid #C6F7E7; border-bottom: 1px solid #393C39; border-right: 1px solid #5A6131  }
.menuend    { background-image:url(../images/menubg.gif); background-repeat: repeat-x; padding-left:18px; padding-top:8px; padding-bottom:7px; border-left: 1px solid #C6F7E7; border-bottom: 1px solid #393C39   }
.mainlink {font-family:Arial, Helvetica, sans-serif; size:12px; color:#000000; text-decoration:none}
.tblr { width: 7px; padding:0px; background-image:url(../images/tblr.gif); background-repeat: no-repeat; background-color:#DEE7F7 }
.tblbl { height: 6px;  background-image:url(../images/tblbl.gif); background-repeat: no-repeat; background-color:#DEE7F7 }
.tblbr { height: 6px; background-color:#DEE7F7 }
.tblbdr      { width: 321px; font-size: 12px; border-left: 2px solid #6B757B; 
               border-right: 2px solid #6B757B; border-top: 1px solid #182442; 
               border-bottom: 2px solid #6B757B }
.tblbdr1 {width: 207px; border-top: 1px solid #182442; border-left: 2px solid #6B757B; border-bottom: 2px solid #6B757B; border-right: 2px solid #6B757B }
.tblbdr2 {width: 300px; border-top: 2px solid #C6C7C6; border-left: 2px solid #C6C7C6; border-bottom: 2px solid #C6C7C6; border-right: 2px solid #C6C7C6; background-color:#F7F7F7 }

.tblhead     { height: 16px; background-color: #639AFF; font-family: 
               Arial, Helvetica, sans-serif; size: 12px; color: #FFFFFF; 
               font-size: 11px; font-weight: bold; padding-left: 3px }
.tblhead1     { height: 16px; background-color: #639AFF; font-family: 
               Arial, Helvetica, sans-serif; size: 11px; color: #FFFFFF; 
               font-size: 11px; font-weight: bold; padding-left: 3px }
.tblhead2    { font-family: Arial, Helvetica, sans-serif; color: #4A4D4A; font-weight:bold;
               font-size: 11px; text-align: left; padding-left:14px } 			                  
.tbldescr     { background-color: #D6EBFF }
.fntdescr    { font-family: Arial, Helvetica, sans-serif; size: 10px; color: #181C21; 
               font-size: 10px; text-align: right; padding-right:5px }
.fntdescr1    { font-family: Arial, Helvetica, sans-serif; size: 9px; color: #181C21; 
               font-size: 9px; text-align: left; padding-left:6px }  
.fntdescr2    { font-family: Arial, Helvetica, sans-serif; size: 10px; color: #4A4D4A; 
               font-size: 10px; text-align: left; padding-left:14px } 			                
.link1       { font-family: Arial, Helvetica, sans-serif; size: 10px; color: #4245A5; 
               text-decoration: underline; font-size: 10px }
.link2       { font-family: Arial, Helvetica, sans-serif; size: 10px; color: #4245A5; 
               text-decoration: underline; font-size: 10px; margin-left:10px }               
.bgsub       { height:13px; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 10px; font-weight: bold; background-image: 
               url('../images/bgsub.gif'); padding-left:6px }
.bgsubm       { height:13px; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 10px; font-weight: bold; background-image: 
               url('../images/bgsub.gif'); padding-left:6px; border-left: 1px solid #CEC7BD; border-right: 1px solid #CEC7BD  }
.bgdescrboldodd {display:block; width: 102px; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px; font-weight: bold;
               padding-left:6px; background-color: #EFF3F7}
.bgdescrodd {font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px;
               padding-left:6px; background-color: #EFF3F7}
.bgdescrboldeven { display:block; width: 102px; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px; 
               font-weight: bold; background-color: #FFFFFF; padding-left: 6px }
.bgdescreven {font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px;
               padding-left:6px; background-color: #FFFFFF}
.txtin {width: 106px; height: 12px; border: 1px solid #BDD3E7; background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px;}               
.txtin1 {width: 80px; height: 12px; border: 1px solid #BDCFDE; background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px;} 
.txtin2 {width: 70px; height: 12px; border: 1px solid #BDCFDE; background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px;} 
.txtin3 {width: 43px; height: 12px; border: 1px solid #BDCFDE; background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px;} 
.txtin4 {width: 24px; height: 12px; border: 1px solid #BDCFDE; background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px;}
.txtin5 {width: 40px; height: 12px; border: 1px solid #BDCFDE; background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px;} 
.txtin6 {width: 50px; height: 12px; border: 1px solid #BDCFDE; background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; color: #181C21; font-size: 9px;} 
.compbtn {margin:0px; padding:0px; border:0px; background-color: #FFFFFF; width:49px; height:13px; background-image: url('../images/compare.gif');}
.searchbtn {margin:0px; padding:0px; border:0px; background-color: #FFFFFF; width:42px; height:14px; background-image: url('../images/search.gif');}
.euidbtn {margin:0px; padding:0px; border:0px; background-color: #FFFFFF; width:75px; height:15px; background-image: url('../images/euid.gif');}
.clearbtn {margin:0px; padding:0px; border:0px; background-color: #FFFFFF; width:38px; height:16px; background-image: url('../images/clear.gif');}
.btnpad {text-align: right; padding-right:10px}
.btnpad1 {text-align: left; padding-left:10px; float:left}
.euidpad  { padding-left:18px }
.addeuid { height: 23px; width: 176px; background-image: url('../images/addeuid.gif')}




            #chromemenu{
            width: 700px;
            font-weight: normal;
            font-size: 60%;
            }
            
            
            #chromemenu:after{ /*Ali margin between menu and rest of content in Firefox*/
            content: "."; 
            display: block; 
            height: 0; 
            clear: both; 
            visibility: hidden;
            }
            
            #chromemenu ul{
            border: 0px solid #f7f8d5 ;
            width: 700px;
            padding: 0px 0;
            margin: 0;
            text-align: left; 
            font-size:16px;
            }
            
            #chromemenu ul li{
            display: inline;
            }
            
            #chromemenu li.selected { 
            background-color: #e7f0f8;
            border-color: #e7f0f8;
            padding: 0px 0;
            margin: 0;
            }
            
            #chromemenu ul li a{
            padding: 0px;
            margin: 0;
            text-decoration: none;
            border-right: 1px solid #e7f0f8;
            }

            #chromemenu ul li a:hover{
            background:  #e7f0f8 center center repeat-x;
            }
            .tabcontent{
            display:none;
            }            

            #leftcol {
            background: #f7f8d5 ;
            position: absolute;
            top: 100px;
            left: 0px;
            width: 150px;
            height: 500px;
            border-width: 3px;
            border-color: #ffffff;
            border-style: solid;                 
            font-size: 11px;
            }

            #concol {
            float: left; 
            width: 100px; 
            background: #f7f8d5 ;
            border-width: 1px;
            border-color: #ffffff;
            border-style: solid;                 
            }
            
            #concolhidden {
            float: left; 
            width: 10%; 
            background: #f7f8d5 ;
            border-width: 1px;
            border-color: #ffffff;
            border-style: solid;                 
            visibility: hidden;
            font-size: 11px;
            }
            
            #incol {
            border-width: 1px;
            border-color: #ffffff;
            border-style: solid;                  
            font-size: 11px;

            }
            #incolhidden {
            border-width: 1px;
            border-color: #ffffff;
            border-style: solid;
            visibility: hidden;
            font-size: 11px;
            }
