           body {
	     margin: 2em;
	     font-family: georgia,serif;
           }

            #chromemenu{
            width: 700px;
            font-weight: normal;
            font-size: 60%;
            }
            
            
            #chromemenu:after{ /*Ali margin between menu and rest of content in Firefox*/
            content: "."; 
            display: block; 
            height: 0; 
            clear: both; 
            visibility: hidden;
            }
            
            #chromemenu ul{
            border: 0px solid #f7f8d5 ;
            width: 700px;
            padding: 0px 0;
            margin: 0;
            text-align: left; 
            font-size:16px;
            }
            
            #chromemenu ul li{
            display: inline;
            }
            
            #chromemenu li.selected { 
            background-color: #e7f0f8;
            border-color: #e7f0f8;
            padding: 0px 0;
            margin: 0;
            }
            
            #chromemenu ul li a{
            padding: 0px;
            margin: 0;
            text-decoration: none;
            border-right: 1px solid #e7f0f8;
            }

            #chromemenu ul li a:hover{
            background:  #e7f0f8 center center repeat-x;
            }
            .tabcontent{
            display:none;
            }            

            #leftcol {
            background: #f7f8d5 ;
            position: absolute;
            top: 100px;
            left: 0px;
            width: 150px;
            height: 500px;
            border-width: 3px;
            border-color: #ffffff;
            border-style: solid;                 
            font-size: 11px;
            }

            #concol {
            float: left; 
            width: 100px; 
            background: #f7f8d5 ;
            border-width: 1px;
            border-color: #ffffff;
            border-style: solid;                 
            }
            
            #concolhidden {
            float: left; 
            width: 10%; 
            background: #f7f8d5 ;
            border-width: 1px;
            border-color: #ffffff;
            border-style: solid;                 
            visibility: hidden;
            font-size: 11px;
            }
            
            #incol {
            border-width: 1px;
            border-color: #ffffff;
            border-style: solid;                  
            font-size: 11px;

            }
            #incolhidden {
            border-width: 1px;
            border-color: #ffffff;
            border-style: solid;
            visibility: hidden;
            font-size: 11px;
            }
            
            ul {padding:0; margin:40px 15px;list-style-type: none;}
            dt {display:none;}

            li {float:left; margin:0; padding:0; text-align:center;list-style-type: none;}
            li a, li a:visited {text-decoration:none; color:#000; float:left;}
            li span {float:left; border-bottom:1px solid #ffffff; cursor:pointer;}
            li .single {height:1.5em;}
            li .double {height:3em;}
            
            li span.side {width:5px; float:left; border-top:1px solid #e7f0f8;
               overflow: hidden; 
            }
            
            li span.side b.p1 {width:0; height:1px; float:left; margin-left:3px; border-left:2px solid #000; font-size:1px; 
            overflow: hidden; 
            } 
            
            li span.side b.p2 {width:2px; height:1px; float:left; margin-left:2px; background:#f7f8d5 ; border-left:1px solid #000; font-size:1px; 
            overflow: hidden; 
            } 
            
            li span.side b.p3 {width:3px; height:2px; float:left; margin-left:1px; background:#f7f8d5 ; border-left:1px solid #000; font-size:1px; 
            overflow: hidden; 
            }  
            
            li span.side b.p4 {width:4px; float:left; background:#f7f8d5 ; border-left:1px solid #000; 
            overflow: hidden; 
            }
            
            li span.side b.p5 {width:0; height:1px; float:left; margin-right:3px; border-right:2px solid #000; font-size:1px;
            overflow: hidden; 
            }  
            
            li span.side b.p6 {width:2px; height:1px; float:left; margin-right:2px; background:#f7f8d5 ; border-right:1px solid #000; font-size:1px; 
            overflow: hidden; 
            }  
            
            li span.side b.p7 {width:3px; height:2px; float:left; margin-right:1px; background:#f7f8d5 ; border-right:1px solid #000; font-size:1px; 
            overflow: hidden; 
            }  
           
            li span.side b.p8 {width:4px; float:left; background:#f7f8d5 ; border-right:1px solid #000; 
            overflow: hidden; 
            }
            
            li.low {margin-top:1.3em;}
            
            li span.mid {border-top:1px solid #000; padding:0 5px; background:#f7f8d5;}


            
            li a:hover {border:0;}

            li a:hover span.mid, li a:hover span.side b {background:#f2f8fb; color:black;}
            li a:hover span {border-bottom:0px solid #f7f8d5 ;}
            
            .clear {clear:both;}


            li span.selected {border-top:1px solid #000; padding:0 5px; background:#e7f0f8;}
            li span.side {width:5px; float:left; border-top:1px solid #e7f0f8;
               overflow: hidden; 
            }
            
            li span.side b.ps1 {width:0; height:1px; float:left; margin-left:3px; border-left:2px solid #000; font-size:1px; 
            overflow: hidden; 
            } 
            
            li span.side b.ps2 {width:2px; height:1px; float:left; margin-left:2px; background:#e7f0f8 ; border-left:1px solid #000; font-size:1px; 
            overflow: hidden; 
            } 
            
            li span.side b.ps3 {width:3px; height:2px; float:left; margin-left:1px; background:#e7f0f8 ; border-left:1px solid #000; font-size:1px; 
            overflow: hidden; 
            }  
            
            li span.side b.ps4 {width:4px; float:left; background:#e7f0f8 ; border-left:1px solid #000; 
            overflow: hidden; 
            }
            
            li span.side b.ps5 {width:0; height:1px; float:left; margin-right:3px; border-right:2px solid #000; font-size:1px;
            overflow: hidden; 
            }  
            
            li span.side b.ps6 {width:2px; height:1px; float:left; margin-right:2px; background:#e7f0f8; border-right:1px solid #000; font-size:1px; 
            overflow: hidden; 
            }  
            
            li span.side b.ps7 {width:3px; height:2px; float:left; margin-right:1px; background:#e7f0f8; border-right:1px solid #000; font-size:1px; 
            overflow: hidden; 
            }  
            
            li span.side b.ps8 {width:4px; float:left; background:#e7f0f8; border-right:1px solid #000; 
            overflow: hidden; 
            }
            #tableClass {
              border: 1px solid #c2c2c2;
              background: #eef2f6;
              font-size: 11px;
            }
            #headerClass {
              background: #6498ff;
              font-size: 11px;
          }
            #footerClass {
              border: 1px solid #c2c2c2;
              background: #6498ff;
              font-size: 11px;
          }
          #colClass {
              border: 1px solid #c2c2c2;
              background: #eae6ca;
              font-size: 11px;
          }
