[SBYNTAG:DEFINE:objname,qualifiednodename,genfieldprefix,fieldname,blockdefinitionid]
				<block-definition number="[sbyntag:blockdefinitionid]">
					<block-rule>
						<equals>
							<field>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]Phon</field>
							<source>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]Phon</source>
						</equals>
					</block-rule>
				</block-definition>