[SBYNTAG:DEFINE:objname,qualifiednodename,sourcefieldnames(),genfieldprefix,fieldname()]
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StName</column-name>
					<match-type>StreetName</match-type>
				</match-column>
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]HouseNo</column-name>
					<match-type>HouseNumber</match-type>
				</match-column>
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StDir</column-name>
					<match-type>StreetDir</match-type>
				</match-column>
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StType</column-name>
					<match-type>StreetType</match-type>
				</match-column>