[SBYNTAG:DEFINE:objname]
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<jbi xmlns="http://java.sun.com/xml/ns/jbi" xmlns:javaee_ext="http://javaee.serviceengine.sun.com/endpoint/naming/extension" xmlns:ns0="http://webservice.index.mdm.sun.com/" version="1.0">
    <services binding-component="false">
        <provides endpoint-name="javaee_[sbyntag:objname]EJBPort" interface-name="ns0:[sbyntag:objname]EJB" service-name="ns0:[sbyntag:objname]EJBService"/>
        <javaee_ext:ept-mappings>
            <javaee_ext:ept-mapping>
                <javaee_ext:java-ept endpoint-name="javaee_[sbyntag:objname]EJBPort" interface-name="ns0:[sbyntag:objname]EJB" service-name="ns0:[sbyntag:objname]EJBService" type="provider"/>
                <javaee_ext:wsdl-ept endpoint-name="[sbyntag:objname]EJBPort" interface-name="ns0:[sbyntag:objname]EJB" service-name="ns0:[sbyntag:objname]EJBService" type="provider"/>
            </javaee_ext:ept-mapping>
        </javaee_ext:ept-mappings>
    </services>
</jbi>
