<head>
    <!-- ========================================= -->
    <!-- Start of Documents Page head section      -->
    <!-- ========================================= -->

    <title>Open Master Index Documents By Title</title>

    <style type="text/css">

      @import url("css/OpenEsb.css");

      #cnlogo            {display: none}
      #collabnet         {display: none}
      .topline           {display: inherit}
      #toptabs           {display: inherit}
      #breadcrumbs       {display: inherit}
      #navcol            {display: inherit}
      #bodycol .infomark {display: inherit}
      #footer            {display: inherit}

    </style>

    <script type="text/javascript" src="misc_functions.js"></script>

    <!-- ======================================== -->
    <!-- End of Documents Page head section       -->
    <!-- ======================================== -->
  </head>

  <!-- ========================================= -->
  <!-- Start of Documents Page body section -->
  <!-- ========================================= -->

  <table id="OesbMainTable" width="100%" boder="0" cellspacing="0" cellpadding="0">
    <tr id="OesbTopSpacerRow" height="4"></tr>
    <tr id="OesbMainTr" height="300" align="center" valign="top">

      <!-- ========================================= -->
      <!-- Left Side Navigation Column               -->
      <!-- =========================================
      <td id="OesbLeftNavcol" width="170">

        <script type="text/javascript" src="MuralLeftColumnNavGroups.js"></script>

        <img src="images/a.gif" width=170 height=1>

      </td>

      <td id="OesbLeftSpacercol" width="2">
      </td>-->

      <!-- ============================================= -->
      <!-- Main Column: Page contents are displayed here -->
      <!-- ============================================= -->
      <td id="OesbCentercol">
        <table id="OesbMainTable" width="100%" boder="0" cellspacing="0" cellpadding="0">

          <!-- Mural Banner -->
          <p><img src="images/MiBanner.gif"> </p>
             <hr width="98%"></hr>
          <tr>
            <td style="text-align:left; vertical-align:top">
              <div style="margin:0px 10px 0px 10px">
                <p>
                  <img style="margin:0px 10px 0px 0px; border: 2px solid #E7E7E7;" align="left" height="100%" src="images/Documents.gif">
                  <span style="color:#3E6A8F; font-size:16px; font-weight:bold;">Documentation</span><br>
                  February 2008<br><br>
                  This page lists the user's guides and reference materials available for Open Master Index. Keep checking this site for the most recent information and documentation.
                  Click on the "By Topic" tab to
                  <a href="DocumentsByTopic.html">sort the list of documents by topic</a> or click on the "By Document Title" to
                  <a href="DocumentsByTitle.html">sort the list of documents by title</a>.
                </p>
              </div>
            </td>
          </tr>

          <!-- Mural Main Navigation Toolbar -->

          <!-- Mural Main Content -->
          <tr>
            <td>
              <div style="margin:10px 0px 0px 0px">

                <div>
                  <a name="top"></a>

                  <div style="border: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; margin:0px 0px 0px 0px">
                    <table border="0" cellpadding="0" cellspacing="0" width="99%">
                      <tr>
                        <td style="text-align:right; vertical-align:bottom"><img src="images/TabByDocumentTitle.gif" usemap="#DocumentsTabMap"></td>
                      </tr>
                    </table>
                    <map name="DocumentsTabMap">
                      <area shape="poly" coords="10,2,120,1,123,8,117,15,1,17" href="DocumentsByTopic.html">
                      <area shape="poly" coords="131,2,245,1,245,17,119,16" href="DocumentsByTitle.html">
                    </map>
                  </div>

                  <div style="border: 2px solid #DCDCD4; padding: 5px 10px 0px 10px; margin:-1px 0px 0px 0px">
                    <table width="100%">
                      <tbody>
                        <tr valign="top">
                          <td style="text-align:left; vertical-align:top;">

                           <p style="font-weight:bold; color:#EE6B00;">Before You Begin</p>
                           <ul>
                              <li><a href="http://open-dm-mi.dev.java.net/docs/dev_tools/BuildInstructions.html" target="_blank">Developing in Open Master Index</a><br>Gives information and instructions you need in order to get started with Master Index Studio, including software requirements, repository access, and build instructions.</li>
                            </ul>

                            <p style="font-weight:bold; color:#EE6B00;">User's Guides</p>
                            <ul>
                              <li><a href="http://open-dm-mi.dev.java.net/docs/dev/landingpage.html" target="_blank">Developing Master Indexes</a><br>Gives instructions for creating a master index application and the master index database.</li>
                              <li><a href="http://open-dm-mi.dev.java.net/docs/config/landingpage.html" target="_blank">Configuring Master Indexes</a><br>Gives instructions for configuring a master index application by either using the Configuration Editor or modifying the configuration files directly.</li>
                              <li><a href="http://open-dm-mi.dev.java.net/docs/load/landingpage.html" target="_blank">Loading the Initial Data Set for a Master Index</a><br>Gives instructions on how to use the load tool to insert the initial data set into a master index database.</li>
                              <li><a href="http://open-dm-mi.dev.java.net/docs/edm/landingpage.html" target="_blank">Working with the EDM</a><br>Gives instructions on how to use the web-based interface to maintain data in a master index application.</li>
                              <li><a href="http://open-dm-mi.dev.java.net/docs/maintain/landingpage.html" target="_blank">Maintaining Master Indexes</a><br>Gives information and instructions on how to maintain a master index application once it is in production.</li>
                           </ul>
                           <br>
                            <p style="font-weight:bold; color:#EE6B00;">Reference Material</p>
                            <ul>
                              <li><a href="http://open-dm-mi.dev.java.net/docs/config_concepts/landingpage.html" target="_blank">Understanding Master Index Configuration Options</a><br>Gives background information about the configuration options for a master index application and describes the XML files.</li>
                              <li><a href="http://open-dm-mi.dev.java.net/docs/process/landingpage.html" target="_blank">Understanding Master Index Processing</a><br>Gives information about the default database structure, the dynamic Java API, and how data is processed.</li>
                            </ul>
                            <br>
                            <p style="font-weight:bold; color:#EE6B00;">Related Material</p>
                            <ul>
                              <li><a href="http://open-dm-dq.dev.java.net/docs/sme/landingpage.html" target="_blank">Understanding the Mural Match Engine</a><br>Gives information about the underlying logic of the match engine. This document is part of the Open Data Quality project.</li>
                            </ul>
                            <br>
                            <p style="font-weight:bold; color:#EE6B00;">Mural Tutorials</p>
                            <p> Coming soon!</p>
                            <br>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </td>
          </tr>

        </table>
      </td>

      <td id="OesbRightSpacercol" width="2">
      </td>

      <!-- ========================================= -->
      <!-- Right Side Navigation Column              -->
      <!-- ========================================= -->
      <td id="OesbRightNavcol" width="170">

        <script type="text/javascript" src="MuralRightColumnNavGroups.js"></script>

        <img src="images/a.gif" width=170 height=1>

      </td>

    </tr>
  </table>

  <!-- ======================================== -->
  <!-- End of Documents Page body section       -->
  <!-- ======================================== -->
