body {
    font-family: Verdana,Arial,Helvetica;
    background-color: #fcefd0;
}
h1.topTitle {
    color: white;
    background-color: navy;
    text-align: center;
}
p {
    text-align: justify;
}
p.note {
    text-align: justify;
    margin-left: 32px;
    font-size: 80%;
}
li {
    text-align: justify;
    margin-bottom: 8px;
}
blockquote.block {
    border: 1px outset black;
}
code.block {
    color: navy;
}
