[SBYNTAG:DEFINE:objname,qualifiednodename,sourcefieldnames(),genfieldprefix,fieldname]
				<phoneticize-field>
					<unphoneticized-source-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]Std</unphoneticized-source-field-name>
					<phoneticized-object-field-id>LP</phoneticized-object-field-id>
					<phoneticized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]Phon</phoneticized-target-field-name>
					<encoding-type>NYSIIS</encoding-type>
				</phoneticize-field>