[SBYNTAG:DEFINE:objname,decoratedqualifiednodename,genfieldprefix,fieldname,fieldtype,fieldsize,updateable,required,keytype,visible]
		<fields>
			<field-name>[sbyntag:genfieldprefix]Name</field-name>
			<field-type>string</field-type>
			<size>40</size>
			<updateable>true</updateable>
			<required>false</required>
			<key-type>false</key-type>
			<visible>true</visible>
		</fields>
		<fields>
			<field-name>[sbyntag:genfieldprefix]NamePhon</field-name>
			<field-type>string</field-type>
			<size>40</size>
			<updateable>true</updateable>
			<required>false</required>
			<key-type>false</key-type>
			<visible>true</visible>
		</fields>
		<fields>
			<field-name>[sbyntag:genfieldprefix]Type</field-name>
			<field-type>string</field-type>
			<size>20</size>
			<updateable>true</updateable>
			<required>false</required>
			<key-type>false</key-type>
			<visible>true</visible>
		</fields>
		<fields>
			<field-name>[sbyntag:genfieldprefix]StandType</field-name>
			<field-type>string</field-type>
			<size>20</size>
			<updateable>true</updateable>
			<required>false</required>
			<key-type>false</key-type>
			<visible>true</visible>
		</fields>
