/*Copyright (c) 2006,Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt */
/*reset.css*/body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}
/*fonts.css*/body{font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}pre, code {font:115% monospace;*font-size:100%;}/*
/*removing
body * {line-height:1.22em;}
*/
/*grids.css*/body{text-align:center;}#ft{clear:both;}#doc,#doc2,#doc3,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{margin:auto;text-align:left;width:57.69em;*width:56.3em;min-width:750px;}#doc2{width:73.074em;*width:71.313em;min-width:950px;}#doc3{margin:auto 10px;width:auto;}.yui-b{position:relative;}.yui-b{_position:static;}#yui-main .yui-b{position:static;}#yui-main{width:100%;}.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main{float:right;margin-left:-25em;}.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main{float:left;margin-right:-25em;}.yui-t1 .yui-b{float:left;width:12.3207em;*width:12.0106em;}.yui-t1 #yui-main .yui-b{margin-left:13.3207em;*margin-left:13.0106em;}.yui-t2 .yui-b{float:left;width:13.8456em;*width:13.512em;}.yui-t2 #yui-main .yui-b{margin-left:14.8456em;*margin-left:14.512em;}.yui-t3 .yui-b{float:left;width:23.0759em;*width:22.52em;}.yui-t3 #yui-main .yui-b{margin-left:24.0759em;*margin-left:23.52em;}.yui-t4 .yui-b{float:right;width:13.8456em;*width:13.512em;}.yui-t4 #yui-main .yui-b{margin-right:14.8456em;*margin-right:14.512em;}.yui-t5 .yui-b{float:right;width:18.4608em;*width:18.016em;}.yui-t5 #yui-main .yui-b{margin-right:19.4608em;*margin-right:19.016em;}.yui-t6 .yui-b{float:right;width:23.0759em;*width:22.52em;}.yui-t6 #yui-main .yui-b{margin-right:24.0759em;*margin-right:23.52em;}.yui-t7 #yui-main .yui-b{display:block;margin:0 0 1em 0;}#yui-main .yui-b{float:none;width:auto;}.yui-g .yui-u,.yui-g .yui-g,.yui-gc .yui-u,.yui-gc .yui-g .yui-u,.yui-ge .yui-u,.yui-gf .yui-u{float:right;display:inline;}.yui-g div.first,.yui-gc div.first,.yui-gc div.first div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first{float:left;}.yui-g .yui-u,.yui-g .yui-g{width:49.1%;}.yui-g .yui-g .yui-u,.yui-gc .yui-g .yui-u{width:48.1%;}.yui-gb .yui-u,.yui-gc .yui-u,.yui-gd .yui-u{float:left;margin-left:2%;*margin-left:1.895%;width:32%;}.yui-gb div.first,.yui-gc div.first,.yui-gd div.first{margin-left:0;}.yui-gc div.first,.yui-gd .yui-u{width:66%;}.yui-gd div.first{width:32%;}.yui-ge .yui-u{width:24%;}.yui-ge div.first,.yui-gf .yui-u{width:74.2%;}.yui-gf div.first{width:24%;}.yui-ge div.first{width:74.2%;}#bd:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}#bd,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf{zoom:1;}

/*begin YDN/YUI styles*/
#bd {padding-top:1em;}
.yui-gb:after{clear:none;}
#doc3 {min-width:950px;}
h1, h2, h3, h4, h5, h6 {font-weight:bold; color:#E76300;}
h1, h2, h3, h4, h5, h6, p {line-height:1.2em; font-size:100%; margin:1em 0 0 0;}
h1.first-content, h2.first-content, h3.first-content {margin-top:0; padding-top:0; border:none;} /*if an h is the first thing on the page or in a section, it should be flush with the top border of its content area; otherwise, its content area should be padded to create space.*/
p { margin-bottom:1em }
h1 { font-size: 136%; padding:0; padding-top:18px}
.wiki h1 { font-size: 120%; padding:0; margin-bottom:1em}
h2 { font-size: 110%; margin-top:1.5em; margin-bottom:.2em; padding:1em 0 0 0; border-top:1px dashed #C3D2DC;}
h2.first { border-top:none; margin-top:0; margin-bottom:.2em;}
#doc3 h2.first { float:none; /*float specified to resolve conflict on generic float declaration for .first in grids*/}
h4 {margin-top:1em; color: #000;}
ul, ol, dl, dd {margin-left:30px;}
dt { font-weight:bold; }
ul, ol {margin-bottom:.7em;}
ul {list-style:disc;}
ol {list-style:decimal;}
strong {font-weight:bold;}
em {font-style:italic;}

a, a code {color:#0000de;} 
a:visited, a:visited code {color:#639;}
a:active, a:active code {color: #f00;}

h1 a { color:#E76300; }
h1 a:visited {color:#E76300}

#logo_pane { display: none; }

#ygma { margin:.5em auto 1em auto; }

#bd ol {}
#bd ol li p { margin-left:0}
#bd ol li ol {list-style:lower-alpha}
#bd ol li ol li {margin-bottom:1em}
#bd ol li ol li ol{list-style:lower-roman}
#bd ol li ol li ol li {margin-bottom:1em}

#bd p.errormessage {background:url(http://us.i1.yimg.com/us.yimg.com/i/us/search/gr/alertbubble.gif) 0 0 no-repeat; padding-left:30px; margin:2em 2em 2em 1em; font-weight:bold}

/*formerly #bd targeting*/
ul {margin-top:2px; }
ul.topspace { margin-top:1em }
ul li { margin:0 17px 0 7px; }
ul li ul { margin-top:0em }
ul.plain {margin-top: 0; list-style: none;}
ul.plain ul {margin-top: 0; list-style: none;}
ul.jump {list-style: none; margin-top: 1em;}
ul.jump li {margin-top: .5em;}

/*#bd table { margin:10px 17px; width:720px; }*/
/*#bd th { background:#B6CDE1; padding:2px; color:#fff; vertical-align:top}
#bd td { padding:2px; vertical-align:top}
#bd td.even { background:red; }*/

h2.classname { border-top:none; margin-top:0; margin-bottom:.2em; font-size: 130%; color:#000000}
h3.breadcrumb { border-top:none; margin-top:0; margin-bottom:.2em; font-size: 80%; color:#000000}
h3.methods { border-top:none; margin-top:0; margin-bottom:.2em; font-size: 100%; color:#000000}

.screenshot {border:thin solid #999999; margin:8px;}

#toc {background-color:#ecf5fa; padding:0; border:1px solid #89d }
#toc ul {list-style:none; margin:0; padding:0;}
#toc ul li { padding:0; margin:0;  font-size:85%; }
#toc ul li.selected { font-weight:bold; color:#fff; background:#f82; padding:0; }
#toc ul li.selected a { color:#fff; }
#toc ul li a { display:block; padding:2px 2px 2px 10px; text-decoration:none; }
#toc ul li a:hover { color:#fff; background:#e60; }
#toc ul li em { display:none; }
#toc ul li.sect { font-weight:bold; color:#fff; background:#89d; padding:2px 0; text-indent:2px; margin-top:2px;}
#toc ul li.first {margin-top:0;}

#ft {  margin-top:4em }
#ft p { padding-bottom:2em; margin:0; text-align:center; font-size:80%; line-height:1.4em}
#ft p.first { padding:1em 0 0 0; margin:0; }

#pagetitle {background: url(http://us.i1.yimg.com/us.yimg.com/i/ydn/bg_hd.gif) 0 0 repeat-x #B6CDE1; border: 1px solid #93B2CC; position:relative;}
#pagetitle h1 {text-indent:15px; padding:4px 0 2px 0; background: url(http://us.i1.yimg.com/us.yimg.com/i/ydn/title_h_bg.gif) 0 0 no-repeat;  margin:0; color:#000; font-size:120%; font-weight:bold; position:relative; left:-1px; top:-1px; margin-right:-2px;}
#pagetitle h1 em {color:#FF9933; font-size:60%; font-weight:bold; font-style:normal; position:relative; top:-6px}

#ygunav {background:#eee; border-bottom:2px solid #ccc; padding:0 10px;font-size:78%;text-align:right;margin-bottom:6px;height:2.5em;line-height:2.5em;}
html>body #ygunav {overflow:hidden;}
#ygunav strong {font-family:verdana;}
#ygunav p {display:inline;margin:0;padding:0;}
#ygunav p em {float:left;text-align:left;font-style:normal; padding-top:.7em}
* html #ygunav p em {margin-top:1px;}
#ygunav p em i {visibility:hidden;}
#ygunav a {color:#000;}
#ygunav form {display:inline;margin:0 0 0 1em;}
#ygsp {width:8em;font-size:110%;padding:0;vertical-align:middle;}
#ygunav .ygbt {background:#dcdcdc;font:110% verdana;position:relative;top:1px;}
* html #ygunav .ygbt {top:4px;}
* html>body #ygunav .ygbt {line-height:0;top:-4px;}
#ygunav label {color:#666;font-family:tahoma;position:relative;top:1px;}

#bd ol.getstarted { margin:0; padding:0; }
#bd ol.getstarted li { font-weight:bold; color:#668AA8; margin-bottom:1em; padding-left:20px; list-style-type:none;}
#bd ol.getstarted li p { color:#000; font-weight:normal; margin:0 0 0 20px; padding:0 }

/* removing
#bd p {margin-bottom:8px;}
*/

#promo {zoom:1;border: 1px solid #B6CDE1; padding:1em; position:relative;  background-color:#FFF5DF;}
/*#promo ul {margin-bottom:0;}*/
#promo h1 {margin-top:0; padding-top:0}
#promo h2 {line-height:1.2em; color:#668AA8; margin-top:0; padding-top:0; border:none; font-size:100%}
#promo p {line-height:1.2em; font-weight:400;}
#promo h1 em {float:right; top:0; right:0; font-style:normal; font-size:80%}
#promo h4 { color:#E76300; }
#promo.component div {width:48%; float:left;}
#promo:after {content:'.';visibility:hidden;clear:left;height:0;display:block;}
#promo p#api {margin-top:.2em;}
#promo #download img {float:left; padding:0 0.5em 0.5em 0;}
#promo #blog {clear:left;}


code {font-family:"Courier New"; font-size: 100%; font-weight:bolder;}

div.apisummary {height:auto; margin:10px 0; width:auto; zoom:1;}
div.apisummary table {font-size:inherit;font:100%; border-collapse:separate; border:1px solid #666666; border-left:none;}
#doc3 div.apisummary table td, #doc3 div.apisummary table th {padding:.35em; vertical-align:top;}
div.apisummary table th { background:#B6CDE1; color:#fff; vertical-align:top; font-weight:bold;}
div.apisummary table td { border-top:1px solid #666666;}
div.apisummary table td, div.apisummary table th { border-left:1px solid #666666;}
div.apisummary table tr { background-color:#ddd;}
div.apisummary table tr.odd { background-color:#fff; }
div.apisummary table tfoot tr { background-color:#fff; }

dl#menuwidgets dt {font-weight:bold;}
dl#menuwidgets {margin:0 0 0 1.5em;}
img.example {clear:right;margin-bottom:10px;margin-left:10px;border:0;float:right;border:1px solid #999;}

/*YUI theater box on main page top right corner*/
#yui-theater {width:316px; overflow:hidden;}
#yui-theater h3 {margin:0; padding:0; color:#E76300;  font-size:100%; font-weight:bold; font-stretch:expanded;}
#yui-theater h2 {margin:0 0 10px 0; padding:0; border:none; color:#000;  font-size:122%; font-weight:bold;}
#yui-theater p {margin:7px 0 0 0;}
#yui-theater div {float:right; font-size:85%;}

/*rss reader styles*/
p.loading-content {background-image:url(http://us.i1.yimg.com/us.yimg.com/i/ydn/yuiweb/img/busy_arrow.gif); background-position:top left; background-repeat:no-repeat; height:20px;padding:4px 0 0 25px; margin:0;}
#doc3 ul.yuirssreader {margin:0; padding:0;}
#doc3 ul.yuirssreader li {list-style-type:none;padding:5px 0 0 12px; margin:0;}
#doc3 ul.yuirssreader li p {margin:0; padding:0;}
ul.yuirssreader cite {color:#666666; margin:0;}
span.yuirssreader-date {font-size:77%; color:#E76300;}
img.rssbadge {display:inline;border:none !important;}

#index-secondary {width:316px;float:right;margin-left:10px;}
#index-main {margin-right:331px;}
#index-main #promo li {list-style-type:none;font-size:92%;margin-top:2px;}
#index-main #promo ul {margin:0;}

/*styles for right gutter on component pages*/
#cheatsheet h3 {margin-top:0;}
#cheatsheet img, #componentvideo img {margin:.5em 0 .2em 0; border:1px solid #999;}
#cheatsheet p {margin:0; font-size:77%;}
#cheatsheet h4, .example-container h4, #examples h4 {margin:0.2em 0 .1em 0; color:#668AA8; font-size:92%;}
#examples ul, #morereading ul, #module ul {font-size:85%; list-style:circle; margin:0 0 1em 10px;}
#examples p, #componentvideo p {font-size:85%; margin:0 0 .2em 0;}
#examples li.selected {font-weight:bold;}

/*styles for example pages*/
.example .promo {background-color:#89d;border-color:#666666; padding:1em;}
.example .promo h1, .example .promo h2, .example .promo  h3 {color:#FFCC66;}
.example .promo h1 {font-size:159%; padding-top:0; margin-top:0;}
.exampleIntro, .exampleIntro p, .exampleIntro a, .exampleIntro a code {color:#fff;}
.example .promo p {margin-top:.7em;}
.firstContent {margin-top:0; padding-top:0;}
#logger {margin-top:1em;}
.example-container {background-color:#F1F6F7;}

.example-container .bd {padding:1em; position:relative; z-index:1; zoom:1;}
.example-container .bd .bd {padding:0; position:static; _zoom:normal;}   /* Reset to defaults to ensure styles are only applied to the top-level .bd of .example-container */
.example-container>.bd:after {content:'.';visibility:hidden;clear:left;height:0;display:block;}
.example-container .exampleHd {background: url(example-hd-bg.gif) 0 0 repeat-x #4E4D4C; }
.example-container h3 {margin:.2em 0 .4em 0;}
.example .example-container h1, .example .example-container h2, .example .example-container h3, .example .example-container h4, .example .example-container h5, .example .example-container h6 {color:#E76300; font-weight:bold;} 
.example-container a {color:#000;} 
.example-container a:visited, .example-container a:visited code {color:#000;}
.example-container a:active, .example-container a:active code {color: #000;}

#loggerGloss {margin-top:.5em; font-size:85%;}
#loggerDiv {font-size:77%;text-align:left;margin-top:.5em; visibility:hidden; height:280px; } /*gets turned on by script when loaded */
#loggerDiv.yui-log {padding:.4em;width:96%;background-color:#FBE7D9;border:1px solid #666;font-family:monospace;z-index:9000;}
#loggerDiv.yui-log p {margin:1px;padding:.1em;}
#loggerDiv.yui-log .yui-log-hd {margin:0; padding:0; background-color:#CECCCC;}
#loggerDiv.yui-log .yui-log-hd h4 {display:none;}
#loggerDiv.yui-log .yui-log-bd {width:100%;height:20em;background-color:#FFF;border:1px solid #ECECEC;overflow:auto;}
#loggerDiv.yui-log .yui-log-bd pre {border-top:1px solid #ECECEC;}
#loggerDiv.yui-log .yui-log-bd code p {margin:1px 0;}
#loggerDiv.yui-log .yui-log-ft .yui-log-categoryfilters {margin-top:.5em;clear:right;}
#loggerDiv.yui-log .yui-log-ft .yui-log-sourcefilters {margin-top:.5em;border:none; clear:both;}
#loggerDiv.yui-log .yui-log-btns {margin-top:.2em;padding:.2em;background: url(bg_hd.gif) 0 0 repeat-x #CECCCC; text-align:right; float:none;}
#loggerDiv.yui-log .yui-log-filtergrp {margin-right:.3em; float:left; display:block}
#loggerDiv.yui-log .yui-log-ft {margin-top:.3em;margin-bottom:.3em; font-family:verdana; zoom:1;}
/*bug in Safari when this is applied to .yui-log-ft:*/
#loggerDiv.yui-log:after {content:'.';visibility:hidden;clear:both;height:0;display:block;}
.example-container.newWindow {text-align:center;}
p.newWindowButton {text-align:right; margin-top:0; padding:.5em;}
.bd p.newWindowButton {text-align:center;} /*when new window is required and button appears in middle of example body*/
p.loggerButton {text-align:center;}
#loggerLink a, #newWindowLink a {font-size:115%; font-weight:bold; color:#000099;}
#newWindowLink a {font-size:107%;}
#loggerModule {padding-bottom:.2em;}

/*right column navigation on example rosters*/
#exampleToc {background-color:#ecf5fa; padding:0; border:1px solid #89d; margin-top:.5em;}
#exampleToc ul {list-style:none; margin:0; padding:0; font-size:85%; }
#exampleToc ul li { padding:0; margin:0; }
#exampleToc ul li.selected { font-weight:bold; color:#fff; background:#000099; padding:0; }
#exampleToc ul li.selected a { color:#fff; }
#exampleToc ul li a { display:block; padding:2px 2px 2px 10px; text-decoration:none; }
#exampleToc ul li a:hover { color:#fff; background:#e60; }

/*theater page styles*/
.theater h1 {border-bottom:1px dashed #CCC; margin-bottom:1em;padding-bottom:.2em;}
.theater img {border:1px solid #666;}
.theater img.last {border:1px solid #666;}
.theater p.details {font-size:77%; color:#666; margin:.2em 0 0 0; padding:0;}
.theater p.description, #doc3 .theater ul li  {font-size:85%; margin:0; padding:0; color:#333;}

#readmePanel .hd { font-weight:bold; font-size:129%; color:#fff; background:#89d; }
#readmePanel .bd {text-align:left; overflow:auto;}
#readmePanel .ft {text-align:right; background-color:#E7E7E7; font-size:85%;}
/* Browser specific (not valid) styles to make preformatted text wrap */
#readmePanel .bd pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 font-size: 100%;
 color:#000033;}
 
/*ed eliot's server-side delicious badge css*/ 
 #delicious-badge {margin-top:.6em; font: 85% Arial, sans-serif; border: 1px solid #b1b1b1; }
#delicious-badge .bookmark { background: url(http://images.del.icio.us/static/img/delicious.small.gif) no-repeat left center; padding-left: 15px; font-weight: bold; }
#delicious-badge p, #delicious-badge div { padding: 7px; margin: 0; text-align: center; }
#delicious-badge a { color: #00f; text-decoration: none; }
#delicious-badge div { background: #eee; }
#delicious-badge div span { font-weight: bold; color: #000; }
#delicious-badge ul, #delicious-badge li { display: inline; list-style: none; padding: 0; margin: 0; }
#delicious-badge li { margin-left: 5px; }
#delicious-badge li span { position: absolute; left: -999px; width: 999px; }
#delicious-badge .saved-by { color: #999; }
#delicious-badge .saved-by span { background: #00f; padding: 3px; color: #fff; }
#delicious-badge .be-first { font-size: 85%; color: #999; }
#delicious-badge .tag-size-1 { font-size: 100%; }
#delicious-badge .tag-size-2 { font-size: 107%; }
#delicious-badge .tag-size-3 { font-size: 114%; }
#delicious-badge .tag-size-4 { font-size: 122%; }
#delicious-badge .tag-size-5 { font-size: 129%; }

/*faq page:*/
.yui-ge .yui-g {width:98%;}
.yui-ge .yui-g .yui-u {width:48.1%;}
#questions {margin:1em 0 2em 0; padding:0.5em; border:1px solid #838383; background-color:#E6E6E6;}
#questions ul {margin:0; list-style:none;}
#yui-main #questions li {padding-bottom:.2em; font-size:85%; margin:0;}
#questions li a {display:block; padding:.6em; text-decoration:none;}
#questions li a:hover {background-color:#F6F6F6;}

/*for notes on file includes*/
.include-notice {border:1px solid #6F7EA1; background:#eee; font:77% verdana; padding:.7em;}
.include-notice strong {color:#990000;}
