[SBYNTAG:DEFINE:objname,qualifiednodename,sourcefieldnames(),genfieldprefix]
				<phoneticize-field>
					<unphoneticized-source-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]FirstName</unphoneticized-source-field-name>
					<phoneticized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]FirstPhon</phoneticized-target-field-name>
					<encoding-type>Soundex</encoding-type>
				</phoneticize-field>
				<phoneticize-field>
					<unphoneticized-source-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]MiddleName</unphoneticized-source-field-name>
					<phoneticized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]MiddlePhon</phoneticized-target-field-name>
					<encoding-type>Soundex</encoding-type>
				</phoneticize-field>
				<phoneticize-field>
					<unphoneticized-source-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]LastName</unphoneticized-source-field-name>
					<phoneticized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]LastPhon</phoneticized-target-field-name>
					<encoding-type>NYSIIS</encoding-type>
				</phoneticize-field>