[SBYNTAG:DEFINE:objname,decoratedqualifiednodename,genfieldprefix,fieldname]
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:fieldname]"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]FirstName"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]MiddleName"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]LastName"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]FirstPhon"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]MiddlePhon"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]LastPhon"/>