[SBYNTAG:DEFINE:objname,qualifiednodename,sourcefieldnames(),genfieldprefix,fieldname]

[SBYNTAG:REP-BEGIN]
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:sourcefieldnames()]</column-name>
					<match-type>person</match-type>
				</match-column>
[SBYNTAG:REP-END]
