[SBYNTAG:DEFINE:objname,qualifiednodename,sourcefieldnames(),genfieldprefix,fieldname()]

[SBYNTAG:REP-BEGIN]
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:fieldname()]</column-name>
					<match-type>Numeric</match-type>
				</match-column>
[SBYNTAG:REP-END]
