/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.3.1
*/
.yui-navset 
.yui-nav li,
.yui-navset 
.yui-navset-top 
.yui-nav li,
.yui-navset 
.yui-navset-bottom 
.yui-nav li{margin:0 0.5em 0 0;}
.yui-navset-left 
.yui-nav li,
.yui-navset-right 
.yui-nav li{margin:0 0 0.5em;}
.yui-navset 
.yui-navset-left 
.yui-nav,
.yui-navset 
.yui-navset-right 
.yui-nav,
.yui-navset-left 
.yui-nav,
.yui-navset-right 
.yui-nav{width:6em;}
.yui-navset-top 
.yui-nav,
.yui-navset-bottom 
.yui-nav{width:auto;}
.yui-navset 
.yui-navset-left,
.yui-navset-left{padding:0 0 0 6em;}
.yui-navset-right{padding:0 6em 0 0;}
.yui-navset-top,
.yui-navset-bottom{padding:auto;}
.yui-nav,
.yui-nav li{margin:0;padding:0;list-style:none;}
.yui-navset li em{font-style:normal;}
.yui-navset{position:relative;zoom:1;}
.yui-navset 
.yui-content{zoom:0;}
.yui-navset 
.yui-nav li,
.yui-navset 
.yui-navset-top 
.yui-nav li,
.yui-navset 
.yui-navset-bottom 
.yui-nav li{display:inline-block;display:-moz-inline-stack;*display:inline;vertical-align:bottom;cursor:pointer;zoom:1;}
.yui-navset-left 
.yui-nav li,
.yui-navset-right 
.yui-nav li{display:block;}
.yui-navset 
.yui-nav a{position:relative;}
.yui-navset 
.yui-navset-top 
.yui-navset-bottom 
.yui-nav li a{display:block;display:inline-block;vertical-align:bottom;zoom:-1;}
.yui-navset-left 
.yui-navset-right 
.yui-navset-bottom 
.yui-navset 
.yui-nav li a em,
.yui-navset-top 
.yui-navset-bottom 
.yui-nav li a em{display:block;}
.yui-navset 
.yui-navset-left 
.yui-nav,
.yui-navset 
.yui-navset-right 
.yui-nav,
.yui-navset-left 
.yui-nav,
.yui-navset-right 
.yui-nav{position:absolute;z-index:1;}
.yui-navset-top 
.yui-nav,
.yui-navset-bottom 
.yui-nav{position:static;}
.yui-navset 
.yui-navset-left 
.yui-nav,
.yui-navset-left 
.yui-nav{left:0;right:auto;}
.yui-navset 
.yui-navset-right 
.yui-nav,
.yui-navset-right 
.yui-nav{right:0;left:auto;}
.yui-skin-sam 
.yui-navset 
.yui-nav,
.yui-skin-sam 
.yui-navset 
.yui-navset-top 
/* Blue Bar under the tabs */
/*.yui-nav{border:solid #2647a0;border-width:0 0 5px;Xposition:relative;zoom:1;}*/
.yui-nav{border:solid #f9efc7;border-width:0 0 1px;Xposition:relative;zoom:1;}

.yui-skin-sam 
.yui-navset 
.yui-nav li,
.yui-skin-sam 
.yui-navset 
.yui-navset-top 
.yui-nav li{margin:0 0.16em 0 0;padding:1px 0 0;zoom:1;}
.yui-skin-sam 
.yui-navset 
.yui-nav .selected,
.yui-skin-sam 
.yui-navset 
.yui-navset-top 
.yui-nav .selected{margin:0 0.16em -1px 0;}
.yui-skin-sam 
.yui-navset 
.yui-nav a,
.yui-skin-sam 
.yui-navset 
.yui-navset-top 
.yui-nav a{background:#d8d8d8 url(./css/yui/assets/skins/sam/sprite.png) repeat-x;border:solid #a3a3a3;border-width:0 1px;color:#000;position:relative;text-decoration:none;}
.yui-skin-sam 
.yui-navset 
.yui-nav a em,
.yui-skin-sam
.yui-navset 
.yui-navset-top 
.yui-nav a em{border:solid #a3a3a3;border-width:1px 0 0;padding:0.25em .75em;left:0;right:0;bottom:0;top:-1px;position:relative;}
.yui-skin-sam 
.yui-navset 
.yui-nav .selected a,
.yui-skin-sam 
.yui-navset 
.yui-nav .selected a:focus,
.yui-skin-sam 
.yui-navset 
/*.yui-nav .selected a:hover{background:#2647a0 url(./css/yui/assets/skins/sam/sprite.png) repeat-x left -1400px;color:#fff;}*/

.yui-nav .selected a:hover{background:#e7f0f8 url(./css/yui/assets/skins/sam/sprite.png) repeat-x left -1400px;color:#31312f;}

.yui-skin-sam 
.yui-navset 
.yui-nav a:hover,
.yui-skin-sam 
.yui-navset 
.yui-nav a:focus{background:#bfdaff url(./css/yui/assets/skins/sam/sprite.png) repeat-x left -1300px;outline:0;}
.yui-skin-sam 
.yui-navset 
.yui-nav .selected a em{padding:0.35em 0.75em;}
.yui-skin-sam 
.yui-navset 
.yui-nav .selected a,
.yui-skin-sam 
.yui-navset 

/* Border for selected tabs */
.yui-nav .selected a em{border-color:#243356;}

/*.yui-nav .selected a em{border-color:red;}*/


.yui-skin-sam 
.yui-navset 
.yui-content{background:#edf5ff;}
.yui-skin-sam 
.yui-navset 
.yui-content,
.yui-skin-sam 
.yui-navset 
.yui-navset-top 
#deleted -->border:1px solid #808080;border-top-color:#243356;<-- to get rid of the tab content border
.yui-content{padding:0.25em 0.5em;}
.yui-skin-sam .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav{border-width:0 5px 0 0;Xposition:absolute;top:0;bottom:0;}.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav{border-width:0 0 0 0px;}.yui-skin-sam .yui-navset-left 
.yui-nav li,.yui-skin-sam .yui-navset .yui-navset-left 
.yui-nav li,.yui-skin-sam .yui-navset-right 
.yui-nav li{margin:0 0 0.16em;padding:0 0 0 1px;}.yui-skin-sam .yui-navset-right 
.yui-nav li{padding:0 1px 0 0;}.yui-skin-sam .yui-navset-left .yui-nav 

.selected,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav 
.selected{margin:0 -1px 0.16em 0;}
.yui-skin-sam .yui-navset-right .yui-nav 
.selected{margin:0 0 0.16em -1px;}
.yui-skin-sam 
.yui-navset-left 
.yui-nav a,
.yui-skin-sam 
.yui-navset-right .yui-nav a{border-width:1px 0;}.yui-skin-sam .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset-right .yui-nav a em{border-width:0 0 0 1px;padding:0.2em .75em;top:auto;left:-1px;}.yui-skin-sam .yui-navset-right .yui-nav a em{border-width:0 1px 0 0;left:auto;right:-1px;}.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-left .yui-nav 
.selected a,.yui-skin-sam .yui-navset-left .yui-nav a:hover,.yui-skin-sam .yui-navset-right .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav 
.selected a,.yui-skin-sam .yui-navset-right .yui-nav a:hover,.yui-skin-sam .yui-navset-bottom .yui-nav a,.yui-skin-sam .yui-navset-bottom .yui-nav 
.selected a,.yui-skin-sam .yui-navset-bottom .yui-nav a:hover{background-image:none;}.yui-skin-sam .yui-navset-left .yui-content{border:1px solid #808080;border-left-color:#243356;}.yui-skin-sam .yui-navset-bottom .yui-nav,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav{border-width:5px 0 0;}.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav 
.selected,.yui-skin-sam .yui-navset-bottom .yui-nav 
.selected{margin:-1px 0.16em 0 0;}.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li,.yui-skin-sam .yui-navset-bottom 
.yui-nav li{padding:0 0 1px 0;vertical-align:top;}.yui-skin-sam .yui-navset .yui-navset-bottom 
.yui-nav li a,.yui-skin-sam .yui-navset-bottom 
.yui-nav li a{}.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav a em,.yui-skin-sam .yui-navset-bottom .yui-nav a em{border-width:0 0 1px;top:auto;bottom:-1px;}.yui-skin-sam .yui-navset-bottom .yui-content,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-content{border:1px solid #808080;border-bottom-color:#243356;}
