[SBYNTAG:DEFINE:objname]
<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schema/validation.xsd">
	<ValidationConfig module-name="Validation" parser-class="com.sun.mdm.index.configurator.impl.validation.ValidationConfiguration">
		<rules>
			<rule name="validate-local-id" object-name="SystemObject" class="com.sun.mdm.index.objects.validation.LocalIdValidator"/>
		</rules>
	</ValidationConfig>
</Configuration>
